file-api-helper/src/main/app/file-api-helper.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8091"  doc:name="HTTP Listener Configuration"/>
<flow name="file-api-read">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/files/{file}" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.uri.params'.file]" doc:name="Set Payload"/>
        <custom-transformer class="com.apifortress.mule.fileapihelper.FileReaderProcessor" doc:name="Java">
            <spring:property name="directory" value="/usr/local/files"/>
        </custom-transformer>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
